@page
@model Mission09_koletonm.Pages.ShopModel
@{
}

<h2>Your Shopping Cart</h2>
<br /> &nbsp;
<br /> &nbsp;

<table class="table table-bordered" table-striped>
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model.basket.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <th>@i.Book.Price.ToString("c")</th>
                <th>@((i.Quantity * i.Book.Price).ToString("c"))</th>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div class="btn btn-primary">
    <a style="text-decoration: none; color: white;" href="@Model.ReturnUrl">Continue Shopping</a>
</div>