<!--
    Sets up a partial view that will hold a template for the book
-->

@model Book
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>
            @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">
        <div class="container">
            <div class="row">
                <div class="col">Author: @Model.Author</div>
                <div class="col">Publisher: @Model.Publisher </div>
            </div>
            <div class="row">
                <div class="col"> @Model.Category </div>
                <div class="col"> ISBN: @Model.Isbn </div>
            </div>
            <div class="row">
                <div class="col"> @Model.Classification</div>
                <div class="col"> Page Count: @Model.PageCount </div>
            </div>
        </div>
    </div>

    <!-- Adds an add to cart button in the bottom right corner of each card. It passes the necessary information to the basket and then takes the user to the cart. -->

    <form method="post" asp-page="/Shop">
        <input type="hidden" asp-for="@Model.BookId"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-right">Add to Cart</button>
        </span>
    </form>
</div>
<br />